.tasksItem {
    display: flex;
    width: calc(100% - 25px - 25px);
    justify-content: space-between;
    color: #fff;
    max-height: calc(90px - 20px - 20px);
    padding: 20px 25px;
    border-radius: 30px;
    margin-bottom: 25px;
    align-items: center;
    input {
        text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.25);
        font-weight: 700;
        background: none;
        flex: 1;
        border: none;
        font-size: 40px;
        color: #fff;
    }
    button {
        display: block;
        box-sizing: border-box;
        border: none;
        background: none;
        height: 46px;
        width: 46px;
        padding: 0;
        margin: 0;
        &:first-of-type {
            display: flex;
            justify-content: flex-start;
            img {
                width: 46px;
                height: 46px;
            }
        }
        img {
            cursor: pointer;
            width: 100%;
            height: 100%;
            transition: 0.2s opacity ease-in-out;
            &:hover {
                opacity: 0.9;
            }
            &:active {
                opacity: 0.5;
            }
        }
    }
}

.green {
    background: #1AD471;  
}
.yellow {
    background: #F5D01E;
}
.blue {
    background: #87BBC9;
}
.defaultClr {
    background: #383838;
}

.recoverBtn {
    color: #000;
    display: block !important;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding: 12px !important;
    height: 51px !important;
    background: #FFFFFF !important;
    width: 200px !important;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s opacity ease-in-out;
    &:hover {
        opacity: 0.8;
    }
}