.taskCreate {
    width: 100%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    max-height: 95px;
    justify-content: space-between;
    input {
        display: block;
        font-size: 40px;
        padding: 18px;
        outline: none;
        border: none;
        border-radius: 30px;
        flex: 1;
        margin-right: 45px;
        box-shadow: 5px 11px 10px rgba(0, 0, 0, 0.09);
    }
}